.counter-container{
    background-color: beige;
    display: flex;
    flex-direction: column;
    gap:15px;
    padding: 1.5rem;
    border: 2px solid black;
    border-radius: 30px;
}
.heading{
    display: flex;
    flex-direction: column;
    gap:15px;
    padding: 1.5rem;
    margin-top: 20px;
}
